#canvas{
  display: flex;
  flex-direction: row;
  margin-left:-15%;
  margin-top: 3%;
  background-color: rgb(255, 255, 255);
}

body{
  background-color: rgb(196, 238, 238);
}
.colors {
  width: 30%;
 margin-bottom: 1%;
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.colores-contenedor {
  display: flex;
  flex-direction: row;
}
.colors{
   height: 9%;
   width: 16%;
   border-style: solid;
   margin-right: 1%;
   margin-left: 1%;
}

.img_colores,
.colores2 {
  display: flex;
  flex-direction: column;
  align-items: center;

}



  #adelanteBtn{
    width: 5%;
    height: 5%;
      border-style: solid;
  }
  #atrasBtn{
    margin-left: 25%;
      width: 5%;
      height: 5%;
      border-style: solid;
  }
#dibujarCirculoBtn{
  
margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#dibujarLineaBtn{
  margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#borraBtn{
  margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#dibujarCuadradoBtn{
  margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#dibujarRectanguloBtn{
  margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#dibujarElipseBtn{
  margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#dibujarPoligonoBtn{
  margin-right: 1%;
  width: 10%;
  height: 8%;
  border-style: solid;
}
#dibujarBtn{
  margin-right: 1%;
  width: 10%;
  height: auto;
  border-style: solid;

}
.figuras{
  display: flex;
  flex-direction: column;


}
.todo{
  display: flex;
  flex-direction:row ;
}
#limpiartodo{
 margin-left: 80%;
 text-decoration-line:underline;
}

/* Estilos para el botón de opciones */
.dropbtn {
  background-color: rgb(196, 238, 238);
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Estilos para el contenedor del menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Estilos para el contenido del menú desplegable */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(196, 238, 238);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

/* Estilos para los elementos del menú desplegable */
.dropdown-content button, .dropdown-content label {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

/* Estilos para los elementos del menú desplegable al pasar el mouse */
.dropdown-content button:hover, .dropdown-content label:hover {
  background-color: #b2b2b2;
}

/* Estilo para mostrar el menú desplegable */
.show {
  display: block;
}
/* Estilos para el botón de Guardar */
#guardarComoBtn {
  background-color: rgb(196, 238, 238);
  color: black; /* Color del texto blanco */
  padding: 12px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  cursor: pointer; /* Cursor de puntero */
  text-decoration: none; /* Sin subrayado */
  display: block; /* Bloque de visualización */
  width: 100%; /* Ancho del botón al 100% */
  text-align: center; /* Alineación del texto al centro */
  border-top: solid;
}

/* Estilos para el botón de Guardar al pasar el mouse */
#guardarComoBtn:hover {
  background-color: #b2b2b2;
}